<h4>{{'Projects' | translate}}</h4>
<div class="help-block" *ngIf="!projectList">
  <span class="glyphicon glyphicon-time"></span>
  {{'Loading' | translate}}
</div>
<table class="table table-condensed" *ngIf="projectList">
  <tbody>
    <tr *ngFor="let project of projectList">
      <td>
        <a [routerLink]="['/project', project.code]">{{project.name}}</a>
      </td>
      <td>
        <ng-container *ngIf="project.stand">
          {{project.stand.serviceUrl}}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

