<h4>{{'Projects' | translate}}</h4>
<div class="help-block" *ngIf="!projectList">
  <span class="glyphicon glyphicon-time"></span>
  {{'Loading' | translate}}
</div>
<table class="table table-condensed" *ngIf="projectList">
  <tbody>
    <tr *ngFor="let project of projectList">
      <td>
        <a [routerLink]="['/project', project.code]">{{project.name}}</a>
      </td>
      <td>
        <ng-container *ngIf="project.stand">
          {{project.stand.serviceUrl}}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <a (click)="displayImportProjectForm = !displayImportProjectForm" href="#">Import project from YAML</a>
      <div *ngIf="displayImportProjectForm">
        <label>New project code:</label>
        <input class="form-control" placeholder="EXAMPLE_CODE" title="Project code" [(ngModel)]="importProject.projectCode" />
        <label>YAML:</label>
        <textarea rows="15" class="form-control" title="YAML content" [(ngModel)]="importProject.yamlContent"></textarea>
        <button style="margin-top: 7px;" class="btn btn-default" (click)="doImport()">Import project from YAML</button>
      </div>
    </div>
  </div>
</div>
