<button style="margin: 10px 0 0 10px;" class="btn btn-default" (click)="updateRequestList()"><span class="glyphicon glyphicon-refresh"></span> Update request list</button>
<button style="margin: 10px 0 0 10px;" class="btn btn-default" (click)="clearRequestList()"><span class="glyphicon glyphicon-remove"></span> Clear request list</button>
<div *ngIf="!selectedRequest && requestList">
  <table style="margin-top: 10px;" class="table table-hover">
    <thead>
      <tr>
        <th>Time</th>
        <th>Method</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requestList.requests" (click)="select(request)">
        <td>{{request.request.loggedDateString}}</td>
        <td>{{request.request.method}}</td>
        <td>{{request.request.absoluteUrl}}</td>

      </tr>
    </tbody>
  </table>
</div>

<div style="margin: 10px;" *ngIf="selectedRequest">
  <h3>Request details</h3>
  <button style="margin: 10px 0;" class="btn btn-default" (click)="selectedRequest = null"><span class="glyphicon glyphicon-backward"></span> Return to list</button>
  <div style="overflow: scroll; height: 700px; white-space: pre; background-color: #eee;" class="form-control">{{selectedRequest | json}}</div>
</div>
