#database=HSQL
database=ORACLE

jdbc.driverClassName=oracle.jdbc.OracleDriver
jdbc.url=jdbc:oracle:thin:@10.2.7.69:1521:AUTOTEST
jdbc.username=AUTOTEST
jdbc.password=a

# Hibernate logging enabled/disabled. Remove this parameter for disabled logging.
# hibernate.showSql=false

projects.path=c:/work/autotester/