<div class="container-fluid" *ngIf="scenario" [ngClass] = "getMapStyleForScenario()">
  <div class="row">
    <div class="col-sm-7">
      <label>
        <input type="checkbox" title="Select" [(ngModel)]="scenario._selected" />
        <a [routerLink]="['/project/' + projectCode + '/scenario/' + (scenario.scenarioGroup ? scenario.scenarioGroup + '/' : '') + scenario.code]" *ngIf="isLinkTitleScenario">{{scenario.name}}</a>
        <span *ngIf="!isLinkTitleScenario">{{scenario.name}}</span>
      </label>
    </div>
    <div class="col-sm-1">
      <div *ngIf="state != 'executing' && scenario.failed" style="color: red">{{'Failed' | translate}}</div>
      <div *ngIf="state == 'executing'" style="color: gray">...</div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" *ngIf="state != 'executing'" (click)="runScenario()">{{'Run' | translate}}</button>
      <button class="btn btn-warning" *ngIf="state == 'executing'" disabled>{{'Executing' | translate}}</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-" *ngIf="stepResultList" (click)="resultDetailsToggle()">{{'Show results' | translate}}</button>
    </div>
  </div>
  <div class="row result" *ngIf="showResultDetails && stepResultList">
    <ng-container *ngFor="let stepResult of stepResultList">
      <app-step-result-item [stepResult]="stepResult" [scenario]="scenario"></app-step-result-item>
    </ng-container>
  </div>
</div>
