<div class="container-fluid" *ngIf="scenario">
  <div class="row">
    <div class="col-sm-5">
      <label>
        <input type="checkbox" title="Select" [(ngModel)]="scenario._selected" />
        {{scenario.name}}
      </label>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
      <div *ngIf="state != 'executing' && scenario.failed" style="color: red">Failed</div>
      <div *ngIf="state == 'executing'" style="color: gray">...</div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" *ngIf="state != 'executing'" (click)="runScenario()">Run</button>
      <button class="btn btn-warning" *ngIf="state == 'executing'" disabled>Executing...</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-" *ngIf="stepResultList" (click)="resultDetailsToggle()">Show results</button>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-default" [routerLink]="['/scenario', scenario.id]">Edit</a>
    </div>
  </div>
  <div class="row" *ngIf="showResultDetails && stepResultList">
    <ng-container *ngFor="let stepResult of stepResultList">
      <app-step-result-item [stepResult]="stepResult"></app-step-result-item>
    </ng-container>
  </div>
</div>
