<ng-container *ngIf="project">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="'/'">Projects</a></li>
    <li class="breadcrumb-item active">{{project.projectCode}}. {{project.name}}</li>
  </ol>

  <h4>{{project.name}}</h4>
  <a [routerLink]="['/project/' + project.projectCode + '/settings']">Settings</a>

  <nav aria-label="Scenario groups">
    <ul class="pagination">
      <li [class.active]="!filter">
        <a href="#" (click)="selectAllGroups()">All</a>
      </li>
      <li [class.active]="filter && !filter.scenarioGroup">
        <a href="#" (click)="selectGroup()">Without group</a>
      </li>
      <li [class.active]="filter && scenarioGroup == filter.scenarioGroup" *ngFor="let scenarioGroup of scenarioGroupList">
        <a href="#" (click)="selectGroup(scenarioGroup)">{{scenarioGroup}}</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid" style="background-color: #f5f5f5; padding-top: 10px;">
    <div class="row">
      <div style="height: 40px;" class="col-sm-6">
        <label>
          <input class="select-all" type="checkbox" title="Select" (click)="selectAll()" />
        </label>
        <button class="btn btn-sm btn-default" (click)="executeSelectedScenarios()">Execute selected scenarios</button>
      </div>
      <div class="col-sm-1" style="display: none; font-weight: bold;" [style.color]="failCount > 0 ? 'red' : ''">
        {{failCount}}
      </div>
      <div class="col-sm-4">
        <div class="progress" style="background-color: #fff;">
          <div class="progress-bar progress-bar-striped"
               role="progressbar"
               [class.active]="executingStateExecuting > 0"
               [style.display]="(executingStateExecuting + executingStateFinished) > 0 ? '' : 'none'"
               [style.width]="(5 + executingStateFinished / (executingStateExecuting + executingStateFinished) * 95) + '%'">
            {{Math.round(executingStateFinished / (executingStateExecuting + executingStateFinished) * 100)}} %
            {{executingStateExecuting > 0 ? '(left: ' + executingStateExecuting + ')' : ''}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height: 33px; margin-top: 7px; margin-bottom: 25px;" [style.display]="isDisplayScenario(scenario) ? '' : 'none'" *ngFor="let scenario of scenarioList">
    <app-scenario-list-item [scenario]="scenario" (onStateChange)="onStateChange($event, scenario)"></app-scenario-list-item>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="btn btn-default" target="_blank" [attr.href]="globals.serviceBaseUrl + '/rest/projects/' + project.projectCode + '/get-yaml'">Download project as YAML</a>
        <button class="btn btn-default" (click)="downloadSelectedAsYaml()">Download selected scenarios as YAML</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Create new scenario</label>
        <div class="input-group">
          <input placeholder="Scenario name" class="form-control" title="New scenario name" [(ngModel)]="newScenarioName" />
          <span class="input-group-btn">
            <button class="btn btn-success" (click)="saveNewScenario()"><span class="glyphicon glyphicon-plus"></span> Create</button>
          </span>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<div class="help-block" *ngIf="!project">
  <span class="glyphicon glyphicon-time"></span>
  Loading...
</div>
