<div>
  <ol class="breadcrumb" *ngIf="scenario">
    <li class="breadcrumb-item"><a [routerLink]="'/'">Projects</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/project', scenario.projectId]">{{scenario.projectId}}. {{scenario.projectName}}</a></li>
    <li class="breadcrumb-item" *ngIf="scenario.scenarioGroup">
      <a [routerLink]="['/project', scenario.projectId]" [queryParams]="{scenarioGroupId: scenario.scenarioGroup.id}">{{scenario.scenarioGroup.name}}</a>
    </li>
    <li class="breadcrumb-item active">{{scenario.id}}. {{scenario.name}}</li>
  </ol>

  <div *ngIf="scenario">
    <div style="margin-bottom: 10px;">
      <h3>{{scenario.name}}</h3>
      <a [routerLink]="['/scenario/' + scenario.id + '/settings']">Settings</a>
    </div>
    <app-scenario-list-item [scenario]="scenario"></app-scenario-list-item>
  </div>

  <div class="help-block" *ngIf="!stepList">Loading...</div>
  <div *ngIf="scenario && stepList">
    <div class="container-fluid" style="margin-bottom: 20px;">
      <button class="btn btn-success" (click)="saveSteps()">Save steps</button>
    </div>

    <div *ngFor="let step of stepList">
      <div class="col-sm-offset-10 col-sm-2 text-right">
        <button class="btn btn-xs btn-default" (click)="addStepBefore(step)"><span class="glyphicon glyphicon-hand-left"></span> Add step</button>
      </div>
      <app-step-item [step]="step" (onDeleteClick)="onDeleteClick(step)"></app-step-item>
    </div>

    <div class="container-fluid" style="margin-bottom: 20px;">
      <button class="btn btn-default" (click)="addStep()"><span class="glyphicon glyphicon-plus"></span> Add step</button>
    </div>
    <div class="container-fluid" style="margin-bottom: 20px;">
      <button class="btn btn-success" (click)="saveSteps()">Save steps</button>
    </div>
  </div>
</div>
