<div>
  <ol class="breadcrumb" *ngIf="scenario">
    <li class="breadcrumb-item"><a [routerLink]="'/'">Projects</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/project', scenario.projectId]">{{scenario.projectId}}. {{scenario.projectName}}</a></li>
    <li class="breadcrumb-item" *ngIf="scenario.scenarioGroup">
      <a [routerLink]="['/project', scenario.projectId]" [queryParams]="{scenarioGroupId: scenario.scenarioGroup.id}">{{scenario.scenarioGroup.name}}</a>
    </li>
    <li class="breadcrumb-item active">{{scenario.id}}. {{scenario.name}}</li>
  </ol>

  <div *ngIf="scenario">
    <div style="margin-bottom: 10px;">
      <h3>{{scenario.name}}</h3>
      <a [routerLink]="['/scenario/' + scenario.id + '/settings']">Settings</a>
    </div>
    <app-scenario-list-item [scenario]="scenario"></app-scenario-list-item>
  </div>

  <div class="container-fluid" style="margin-bottom: 20px;">
    <button class="btn btn-success" (click)="saveSteps()">Save steps</button>
  </div>
  <app-step-item [step]="step" *ngFor="let step of stepList"></app-step-item>
  <div class="help-block" *ngIf="!stepList">Loading...</div>
  <div class="container-fluid" style="margin-bottom: 20px;">
    <button class="btn btn-success" (click)="saveSteps()">Save steps</button>
  </div>
</div>
