<div class="container">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" style="overflow: hidden;" *ngFor="let mapping of mappingList" [routerLink]="['/mapping', mapping.uuid]">
        {{mapping.request.url}}
      </a>
      <button class="btn btn-default list-group-item" [routerLink]="['/mapping/new']"><span class="glyphicon glyphicon-plus"></span> <i>Add mapping</i></button>
    </div>
    <button class="btn btn-default list-group-item" (click)="saveToBackStorage()"><span class="glyphicon glyphicon-floppy-save"></span> <i>Save to back storage</i></button>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
</div>
