<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/'">Projects</a></li>
  <li *ngIf="project" class="breadcrumb-item"><a [routerLink]="['/project', project.id]">{{project.id}}. {{project.name}}</a></li>
  <li class="breadcrumb-item active">Settings</li>
</ol>

<div class="container-fluid" *ngIf="project">
  <h3>{{project.name}}</h3>
  <button class="btn btn-success" style="margin-bottom: 5px;" (click)="save()">Save</button>
  <div>
    <ul class="nav nav-tabs">
      <li [class.active]="tab == 'details'"><a href="#" (click)="selectTab('details')">Details</a></li>
      <li [class.active]="tab == 'groups'"><a href="#" (click)="selectTab('groups')">Scenario groups</a></li>
      <li [class.active]="tab == 'stands'"><a href="#" (click)="selectTab('stands')">Stands</a></li>
      <li [class.active]="tab == 'json'"><a href="#" (click)="selectTab('json')">json</a></li>
    </ul>
    <div class="tab-content" style="padding: 10px;">
      <div [style.display]="tab == 'details' ? '' : 'none'">
        <label>Project name</label>
        <input class="form-control" title="" [(ngModel)]="project.name"/>

        <label>Before scenario</label>
        <select class="form-control" title="Before scenario" [(ngModel)]="project.beforeScenarioId">
          <option [ngValue]="null">disabled</option>
          <option *ngFor="let scenario of scenarioList" [ngValue]="scenario.id">{{scenario.name}}</option>
        </select>

        <label>After scenario</label>
        <select class="form-control" title="Before scenario" [(ngModel)]="project.afterScenarioId">
          <option [ngValue]="null">disabled</option>
          <option *ngFor="let scenario of scenarioList" [ngValue]="scenario.id">{{scenario.name}}</option>
        </select>

        <label>Project code</label>
        <input class="form-control" title="" [(ngModel)]="project.projectCode"/>

        <label style="margin-top: 8px;">
          <input type="checkbox" style="height: 25px;" title="" [(ngModel)]="project.useRandomTestId"/>
          Use random testId
        </label>
        <div class="clearfix"></div>

        <label>testId header name</label>
        <input class="form-control" title="" [(ngModel)]="project.testIdHeaderName"/>
      </div>
      <div [style.display]="tab == 'groups' ? '' : 'none'">
        <div *ngFor="let scenarioGroup of project.scenarioGroups">
          <label>Group name</label>
          <div class="input-group">
            <input class="form-control" title="" [(ngModel)]="scenarioGroup.name"/>
            <span class="input-group-btn">
              <button class="btn btn-default" (click)="removeScenarioGroup(scenarioGroup)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
            </span>
          </div>
        </div>
        <button class="btn btn-default" style="margin-top: 7px;" (click)="addScenarioGroup()"><span class="glyphicon glyphicon-plus"></span> Add scenario group</button>
      </div>
      <div [style.display]="tab == 'stands' ? '' : 'none'">
        <div style="border: none;" class="list-group-item" *ngFor="let stand of project.standList">
          <div class="row">
            <div class="col-sm-12">
              <label>Service URL</label>
              <div class="input-group">
                <input placeholder="Service URL" class="form-control" title="" [(ngModel)]="stand.serviceUrl"/>
                <span class="input-group-btn">
                  <button class="btn btn-primary" *ngIf="project.stand != null && stand.id != null && project.stand.id != stand.id" (click)="selectAsDefaultStand(stand)">Use as default</button>
                  <button class="btn btn-default" *ngIf="!(project.stand != null && project.stand.id != stand.id)" disabled>Used as default</button>

                  <button class="btn" (click)="removeStand(stand)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <input placeholder="Data base URL" class="form-control" title="" [(ngModel)]="stand.dbUrl"/>
            </div>
            <div class="col-sm-4">
              <input placeholder="Data base User" class="form-control" title="" [(ngModel)]="stand.dbUser"/>
            </div>
            <div class="col-sm-4">
              <input placeholder="Data base Password" type="password" class="form-control" title="" [(ngModel)]="stand.dbPassword"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input placeholder="WireMock URL" class="form-control" title="" [(ngModel)]="stand.wireMockUrl"/>
            </div>
          </div>
        </div>
        <div style="border: none;" class="list-group-item">
          <button class="btn btn-default" (click)="addStand()"><span class="glyphicon glyphicon-plus"></span> Add stand</button>
        </div>
      </div>
      <div [style.display]="tab == 'json' ? '' : 'none'">
        <pre>{{project | json}}</pre>
      </div>
    </div>
  </div>
</div>
