swagger: '2.0'
info:
  description: AutoTester-UI REST API
  version: 1.0.0
  title: AutoTester-UI REST API
  contact:
    email: Stanislav.Doroshin@bsc-ideas.com
host: piphagor.bscmsc.ru
basePath: /autotester/rest
tags:
  - name: Project
    description: Autotes project, contains Scenario list
  - name: Stand
    description: Stand of project
  - name: Scenario
    description: Scenario of Project, contains Step list
  - name: ScenarioGroup
    description: Group of Scenarios
  - name: Step
    description: Step of Scenario, contains details about one request to service
schemes:
  - http
paths:
  /projects:
    get:
      tags:
        - Project
      summary: Get project list
      description: ''
      operationId: getProjects
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
  '/projects/{projectId}':
    get:
      tags:
        - Project
      summary: Get project details
      description: ''
      operationId: getProjectDetail
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: projectId
          in: path
          description: ID of Project
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Project not found
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Project'
    put:
      tags:
        - Project
      summary: Update project details
      description: ''
      operationId: saveProject
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: projectId
          in: path
          description: ID of Project
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Project details
          required: true
          schema:
            $ref: '#/definitions/Project'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Project not found
        '200':
          description: 'Updated project-object'
          schema:
            $ref: '#/definitions/Project'
  '/projects/{projectId}/stands':
    get:
      tags:
        - Project
        - Stand
      summary: Get Stand list of project
      description: ''
      operationId: getStandList
      parameters:
        - name: projectId
          in: path
          description: ID of Project
          required: true
          type: integer
      responses:
        200:
          description: Stand list of Project
        404:
          description: Project not found
    post:
      tags:
        - Project
        - Stand
      summary: Create Stand
      description: ''
      operationId: createStand
      parameters:
        - name: projectId
          in: path
          description: ID of Project
          required: true
          type: integer
      responses:
        200:
          description: Stand list of Project
        404:
          description: Project not found
  '/stands/{standId}':
    put:
      tags:
        - Stand
      summary: Update Stand details
      description: ''
      operationId: saveStand
      parameters:
        - name: standId
          in: path
          description: ID of Project
          required: true
          type: integer
        - name: body
          in: body
          description: Update stand details
          required: true
          schema:
            $ref: '#/definitions/Stand'
      responses:
        '200':
          description: Stand updated
          schema:
            $ref: '#/definitions/Stand'
    delete:
      tags:
        - Stand
      summary: Delete Stand
      description: ''
      operationId: deleteStand
      parameters:
        - name: standId
          in: path
          description: ID of Project
          required: true
          type: integer
      responses:
        '200':
          description: Stand deleted
        '404':
          description: Stand not found
  '/projects/{projectId}/scenario-groups':
    get:
      summary: Get ScenarioGroup list
      tags:
        - ScenarioGroup
        - Project
      parameters:
        - name: projectId
          in: path
          required: true
          type: integer
          description: Project id
      responses:
        '404':
          description: Project not found
        '200':
          description: ScenarioGroup list
          schema:
            type: array
            items:
              $ref: '#/definitions/ScenarioGroup'
    post:
      summary: Create ScenarioGroup list
      tags:
        - ScenarioGroup
        - Project
      parameters:
        - name: projectId
          in: path
          required: true
          type: integer
          description: Project id
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScenarioGroup'
      responses:
        '404':
          description: Project not found
        '200':
          description: Created scenario group
          schema:
            $ref: '#/definitions/ScenarioGroup'
  '/scenario-groups/{scenarioGroupId}':
    put:
      summary: Update ScenarioGroup details
      tags:
        - ScenarioGroup
      parameters:
        - name: scenarioGroupId
          in: path
          required: true
          type: integer
          description: Stand id
        - name: body
          in: body
          required: true
          description: Scenario object
          schema:
            $ref: '#/definitions/ScenarioGroup'
      responses:
        200:
          description: ScenarioGroup details updated
          schema:
            $ref: '#/definitions/ScenarioGroup'
        404:
          description: ScenarioGroup not found
    delete:
      summary: Delete ScenarioGroup
      tags:
        - ScenarioGroup
      operationId: deleteScenarioGroup
      parameters:
        - name: scenarioGroupId
          in: path
          type: integer
          required: true
          description: Stand id
      responses:
        200:
          description: ScenarioGroup successful deleted
        404:
          description: ScenarioGroup not found
  '/projects/{projectId}/scenarios':
    get:
      tags:
        - Scenario
        - Project
      summary: Get Scenario
      operationId: getScenarioList
      parameters:
        - name: projectId
          in: path
          type: integer
          required: true
          description: Project id
      responses:
        200:
          description: Scenario list
          schema:
            type: array
            items:
              $ref: '#/definitions/Scenario'
        404:
          description: Project not found
    post:
      tags:
        - Scenario
        - Project
      summary: Create new Scenario
      operationId: createScenario
      parameters:
        - name: projectId
          in: path
          type: integer
          required: true
          description: Project id
        - name: body
          in: body
          required: true
          description: Scenario object to create
          schema:
            $ref: '#/definitions/Scenario'
      responses:
        404:
          description: Project not found
        200:
          description: Scenario created
          schema:
            $ref: '#/definitions/Scenario'
  '/scenarios/{scenarioId}':
    get:
      tags:
        - Scenario
      summary: Get Scenario details
      operationId: getScenarioDetail
      parameters:
        - name: scenarioId
          in: path
          type: integer
          required: true
          description: Scenario id
      responses:
        404:
          description: Scenario not found
        200:
          description: Scenario details
          schema:
            $ref: '#/definitions/Scenario'
    put:
      tags:
        - Scenario
      summary: Update Scenario details
      operationId: saveScenarioDetails
      parameters:
        - name: scenarioId
          in: path
          type: integer
          required: true
          description: Scenario id
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Scenario'
      responses:
        404:
          description: Scenario not found
        200:
          description: Scenario saved
          schema:
            $ref: '#/definitions/Scenario'
    delete:
      tags:
        - Scenario
      summary: Delete Scenario
      operationId: deleteScenario
      parameters:
        - name: scenarioId
          in: path
          type: integer
          required: true
          description: Scenario id
      responses:
        404:
          description: Scenario not found
        200:
          description: Scenario deleted
  '/scenarios/{scenarioId}/steps':
    get:
      tags:
        - Step
        - Scenario
      summary: Get Step list
      operationId: getSteps
      parameters:
        - name: scenarioId
          in: path
          type: integer
          required: true
          description: Scenario id
      responses:
        200:
          description: Step list
          schema:
            type: array
            items:
              $ref: '#/definitions/Step'
        404:
          description: Scenario not found
    post:
      tags:
        - Step
        - Scenario
      summary: Create new step
      operationId: createStep
      parameters:
        - name: scenarioId
          in: path
          type: integer
          required: true
          description: Scenario id
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Step'
      responses:
        404:
          description: Scenario not found
        200:
          description: Step created
          schema:
            $ref: '#/definitions/Step'
  '/steps/{stepId}':
    delete:
      tags:
        - Step
      summary: Delete Step
      operationId: deleteStep
      parameters:
        - name: stepId
          in: path
          required: true
          description: Step id
          type: integer
      responses:
        404:
          description: Step not found
        200:
          description: Step deleted
definitions:
  Project:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  Stand:
    type: object
    properties:
      id:
        type: integer
      url:
        type: string
  ScenarioGroup:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  Scenario:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  Step:
    type: object
    properties:
      id:
        type: integer
      url:
        type: string
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
